# Drizzle
DATABASE_URL="file:./db.sqlite"

# BetterAuth
BETTER_AUTH_SECRET=secret #use `openssl rand -base64 32` to generate
BETTER_AUTH_URL=http://localhost:3000

# Google
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your-google-client-id # Same as GOOGLE_CLIENT_ID

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
